<center><img src='https://www.datahack.es/wp-content/uploads/2020/02/logo-home.png' width="500"></center>

# Ejercicio recomendador tipo ranking 1 PUNTO
En este ejercicio os propongo generar un ranking similar al que hemos visto en el apartado de algoritmos tipo ranking. En este caso en concreto lo vamos a generar sobre los datos reales de IMDb.

Estos datos se pueden descargar de :

https://www.imdb.com/interfaces/

Al ser una base de datos muy pesada, he descargado y filtrado los datos de las películas que tengan al menos 25.000 votos.

**si para el ejercicio necesitas info extra no dudes en descargarla de la url anterior**

<center><img src='https://static.amazon.jobs/teams/53/images/IMDb_Header_Page.jpg?1501027252' width="800"></center>

## Información


Se han creado dos ficheros csv:

- **ratings_imdb.csv:** Este fichero contiene el identificador único de IMDb, el rating y el número de votos.

- **titulos_imdb.csv:** Este fichero contiene junto con el  identificador único de IMDb, información que puede resultar de interés para realizar el ejercicio.

## Pasos a seguir

1. Descarga la información de IMDb en una carpeta que se llame `datos_ejercicios/imdb` .

2. Lee los ficheros csv.

3. Crea la función que nos permite calcular la media de IMDb.

4. Prepara los datos que quieras mostrar para cada uno de los títulos.

5. Extrae el top 25 del ranking. Se valora la creatividad. 

6. Descarga el ipynb, conviertelo a html y esos serán tus documentos de evaluación.

##0. Instalaciones y librerías

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Instalación de Spark, Findspark y Pyspark.

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://apache.osuosl.org/spark/spark-3.0.1/spark-3.0.1-bin-hadoop2.7.tgz
!tar xf spark-3.0.1-bin-hadoop2.7.tgz
!pip install -q findspark
!pip install pyspark

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/f0/26/198fc8c0b98580f617cb03cb298c6056587b8f0447e20fa40c5b634ced77/pyspark-3.0.1.tar.gz (204.2MB)
     |████████████████████████████████| 204.2MB 57kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 46.5MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.0.1-py2.py3-none-any.whl size=204612243 sha256=200ebfe766caf415be9f92648a666492ff1a82e1b16736d2f57059bcf31ea09d
  Stored in directory: /root/.cache/pip/wheels/5e/bd/07/031766ca628adec8435bb40f0bd83bb676ce65ff4007f8e73f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.0.1

Creación de la Sesión Spark "ejercicio_recomendadores_tipo_ranking_rehecho".

In [ ]:
# Set up required environment variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.1-bin-hadoop2.7"
from pyspark import SparkContext
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("ejercicio_recomendadores_tipo_ranking").master("local[*]").getOrCreate()

Instalación y carga de librerías:

In [ ]:
#Carga de datos de la web:
!pip install wget 
import wget

#Tratamiento de datos:
import pandas as pd
import numpy as np
import pyspark.sql.functions as F
import pyspark.sql.types as T
from pyspark.sql.window import Window
spark.conf.set("spark.sql.execution.arrow.enabled", "true")

#Dibujo de tablas y gráficos:
pd.set_option('display.max_rows', 50) #max 50 rows out

Collecting wget
  Downloading https://files.pythonhosted.org/packages/47/6a/62e288da7bcda82b935ff0c6cfe542970f04e29c756b0e147251b2fb251f/wget-3.2.zip
Building wheels for collected packages: wget
  Building wheel for wget (setup.py) ... done
  Created wheel for wget: filename=wget-3.2-cp36-none-any.whl size=9682 sha256=d77464495325e1772238e3d919a76a1ed459e0a1be58c239fc1b1176a1dcba5a
  Stored in directory: /root/.cache/pip/wheels/40/15/30/7d8f7cea2902b4db79e3fea550d7d7b85ecb27ef992b618f3f
Successfully built wget
Installing collected packages: wget
Successfully installed wget-3.2

##1. Descarga la información de IMDb en una carpeta que se llame datos_ejercicios/imdb.

In [ ]:
'''En lugar de descargar de la web, he copiado con el código los archivos que tenía en la otra ruta, en la nueva'''
#!cp '/content/drive/My Drive/Colab Notebooks/Práctica Spark/datos_ejercicios/imdb/ratings_imdb.csv' '/content/drive/My Drive/Colab Notebooks/Ejercicios Estudiar para Test de Nivel Spark/Práctica de Máster Spark'
#!cp '/content/drive/My Drive/Colab Notebooks/Práctica Spark/datos_ejercicios/imdb/titulos_imdb.csv' '/content/drive/My Drive/Colab Notebooks/Ejercicios Estudiar para Test de Nivel Spark/Práctica de Máster Spark'

In [ ]:
'''La descarga de la web sería'''
wget.download('https://datasets.imdbws.com/title.crew.tsv.gz', '/content/drive/My Drive/Colab Notebooks/Ejercicios Estudiar para Test de Nivel Spark/Práctica de Máster Spark')
#wger.download('https://datasets.imdbws.com/name.basics.tsv.gz', '/content/drive/My Drive/Colab Notebooks/Ejercicios Estudiar para Test de Nivel Spark/Práctica de Máster Spark')

'/content/drive/My Drive/Colab Notebooks/Ejercicios Estudiar para Test de Nivel Spark/Práctica de Máster Spark/title.crew.tsv.gz'

In [ ]:
id_directores=pd.read_csv("/content/drive/My Drive/Colab Notebooks/Ejercicios Estudiar para Test de Nivel Spark/Práctica de Máster Spark/title.crew.tsv.gz",sep="\t",compression="gzip")

In [ ]:
id_directores

            tconst            directors                        writers
0        tt0000001            nm0005690                             \N
1        tt0000002            nm0721526                             \N
2        tt0000003            nm0721526                             \N
3        tt0000004            nm0721526                             \N
4        tt0000005            nm0005690                             \N
...            ...                  ...                            ...
7262550  tt9916848  nm5519454,nm5519375  nm6182221,nm1628284,nm2921377
7262551  tt9916850  nm5519454,nm5519375  nm6182221,nm1628284,nm2921377
7262552  tt9916852  nm5519454,nm5519375  nm6182221,nm1628284,nm2921377
7262553  tt9916856           nm10538645                      nm6951431
7262554  tt9916880            nm0996406            nm1482639,nm2586970

[7262555 rows x 3 columns]

In [ ]:
id_directores_Spark= spark.read.csv(
    
    "/content/drive/My Drive/Colab Notebooks/Ejercicios Estudiar para Test de Nivel Spark/Práctica de Máster Spark/title.crew.tsv.gz",
    quote='"',header =True,inferSchema=True,sep='\t')

In [ ]:
id_directores_Spark.limit(5).show(truncate=False)

+---------+---------+-------+
|tconst   |directors|writers|
+---------+---------+-------+
|tt0000001|nm0005690|\N     |
|tt0000002|nm0721526|\N     |
|tt0000003|nm0721526|\N     |
|tt0000004|nm0721526|\N     |
|tt0000005|nm0005690|\N     |
+---------+---------+-------+

##2. Lee los ficheros csv.

In [ ]:
#Voy a leer los que nos dio el profesor que son los del ejercicio
#Primero leo y retoco títulos
titulos= spark.read.csv('/content/drive/My Drive/Colab Notebooks/Ejercicios Estudiar para Test de Nivel Spark/Práctica de Máster Spark/Ranking_IMDB/titulos_imdb.csv',
                        inferSchema=True, header=True, sep=',', quote='"').cache()

In [ ]:
titulos.limit(5).show()

+---------+-----+--------------------+--------------------+---------+-----+---------------+--------------------+--------------------+
| title_id| type|       primary_title|      original_title|premiered|ended|runtime_minutes|              titulo|              genres|
+---------+-----+--------------------+--------------------+---------+-----+---------------+--------------------+--------------------+
|tt0010323|movie|The Cabinet of Dr...|Das Cabinet des D...|     1920| null|             76|                null|Fantasy,Horror,My...|
|tt0012349|movie|             The Kid|             The Kid|     1921| null|             68|            El chico| Comedy,Drama,Family|
|tt0013442|movie|           Nosferatu|Nosferatu, eine S...|     1922| null|             94|           Nosferatu|      Fantasy,Horror|
|tt0015324|movie|        Sherlock Jr.|        Sherlock Jr.|     1924| null|             45|                null|Action,Comedy,Rom...|
|tt0015648|movie| Battleship Potemkin|Bronenosets Potemkin|     1925| null|             75|El acorazado Pote...|Drama,History,Thr...|
+---------+-----+--------------------+--------------------+---------+-----+---------------+--------------------+--------------------+

In [ ]:
titulos.printSchema()

root
 |-- title_id: string (nullable = true)
 |-- type: string (nullable = true)
 |-- primary_title: string (nullable = true)
 |-- original_title: string (nullable = true)
 |-- premiered: integer (nullable = true)
 |-- ended: string (nullable = true)
 |-- runtime_minutes: integer (nullable = true)
 |-- titulo: string (nullable = true)
 |-- genres: string (nullable = true)

In [ ]:
titulos.count()

4974

In [ ]:
#Comprobamos que no tengamos más nulos
from pyspark.sql.functions import isnull, when, count, col

titulos.select([count(when(isnull(c), c)).alias(c) for c in titulos.columns]).show()

+--------+----+-------------+--------------+---------+-----+---------------+------+------+
|title_id|type|primary_title|original_title|premiered|ended|runtime_minutes|titulo|genres|
+--------+----+-------------+--------------+---------+-----+---------------+------+------+
|       0|   0|            0|             0|        0| 4974|              0|  1041|     0|
+--------+----+-------------+--------------+---------+-----+---------------+------+------+

In [ ]:
#Todos son nulos en la columna 'ended' y en 'titulo' hay algunos.
#Cambiamos el nombre de la columna titulo y rellenamos los nulos con ¿?. Nos cargamos la columna ended
titulos= (
    titulos
    .fillna('¿?',subset='titulo')
    .withColumnRenamed('titulo', 'titulo_espanol')
    .drop('ended')
)

titulos.limit(5).show(truncate=False)

+---------+-----+---------------------------+-------------------------------------+---------+---------------+---------------------+----------------------+
|title_id |type |primary_title              |original_title                       |premiered|runtime_minutes|titulo_espanol       |genres                |
+---------+-----+---------------------------+-------------------------------------+---------+---------------+---------------------+----------------------+
|tt0010323|movie|The Cabinet of Dr. Caligari|Das Cabinet des Dr. Caligari         |1920     |76             |¿?                   |Fantasy,Horror,Mystery|
|tt0012349|movie|The Kid                    |The Kid                              |1921     |68             |El chico             |Comedy,Drama,Family   |
|tt0013442|movie|Nosferatu                  |Nosferatu, eine Symphonie des Grauens|1922     |94             |Nosferatu            |Fantasy,Horror        |
|tt0015324|movie|Sherlock Jr.               |Sherlock Jr.                         |1924     |45             |¿?                   |Action,Comedy,Romance |
|tt0015648|movie|Battleship Potemkin        |Bronenosets Potemkin                 |1925     |75             |El acorazado Potemkin|Drama,History,Thriller|
+---------+-----+---------------------------+-------------------------------------+---------+---------------+---------------------+----------------------+

In [ ]:
titulos.distinct().count()

4974

In [ ]:
#Volvemos a comprobar los nulos y si se ha eliminado la columna
titulos.select([F.count(F.when(F.isnull(c), c)).alias(c) for c in titulos.columns]).show()

+--------+-------------+--------------+---------+-----+---------------+------+------+
|title_id|primary_title|original_title|premiered|ended|runtime_minutes|titulo|genres|
+--------+-------------+--------------+---------+-----+---------------+------+------+
|       0|            0|             0|        0| 4974|              0|  1041|     0|
+--------+-------------+--------------+---------+-----+---------------+------+------+

In [ ]:
#Vemos si el type sólo es movie
print('Número de type=movie:',titulos.filter(F.col('type') == 'movie').count())
print('Número de datos totales:',titulos.count())

Número de type=movie: 4974
Número de datos totales: 4974

In [ ]:
#Son todos iguales, luego nos lo cargamos
titulos= titulos.drop('type')

titulos.show(truncate=False)

+---------+------------------------------+-------------------------------------+---------+-----+---------------+---------------------------+-----------------------+
|title_id |primary_title                 |original_title                       |premiered|ended|runtime_minutes|titulo                     |genres                 |
+---------+------------------------------+-------------------------------------+---------+-----+---------------+---------------------------+-----------------------+
|tt0010323|The Cabinet of Dr. Caligari   |Das Cabinet des Dr. Caligari         |1920     |null |76             |null                       |Fantasy,Horror,Mystery |
|tt0012349|The Kid                       |The Kid                              |1921     |null |68             |El chico                   |Comedy,Drama,Family    |
|tt0013442|Nosferatu                     |Nosferatu, eine Symphonie des Grauens|1922     |null |94             |Nosferatu                  |Fantasy,Horror         |
|tt0015324|Sherlock Jr.                  |Sherlock Jr.                         |1924     |null |45             |null                       |Action,Comedy,Romance  |
|tt0015648|Battleship Potemkin           |Bronenosets Potemkin                 |1925     |null |75             |El acorazado Potemkin      |Drama,History,Thriller |
|tt0015864|The Gold Rush                 |The Gold Rush                        |1925     |null |95             |La quimera del oro         |Adventure,Comedy,Drama |
|tt0017136|Metropolis                    |Metropolis                           |1927     |null |153            |Metrópolis                 |Drama,Sci-Fi           |
|tt0017925|The General                   |The General                          |1926     |null |67             |El maquinista de La General|Action,Adventure,Comedy|
|tt0018455|Sunrise                       |Sunrise: A Song of Two Humans        |1927     |null |94             |null                       |Drama,Romance          |
|tt0019254|The Passion of Joan of Arc    |La passion de Jeanne d'Arc           |1928     |null |110            |null                       |Biography,Drama,History|
|tt0020629|All Quiet on the Western Front|All Quiet on the Western Front       |1930     |null |136            |null                       |Drama,War              |
|tt0021749|City Lights                   |City Lights                          |1931     |null |87             |Luces de la ciudad         |Comedy,Drama,Romance   |
|tt0021814|Dracula                       |Dracula                              |1931     |null |75             |Drácula                    |Fantasy,Horror         |
|tt0021884|Frankenstein                  |Frankenstein                         |1931     |null |70             |El doctor Frankenstein     |Drama,Horror,Sci-Fi    |
|tt0022100|M                             |M - Eine Stadt sucht einen Mörder    |1931     |null |117            |M, el vampiro de Düsseldorf|Crime,Mystery,Thriller |
|tt0022913|Freaks                        |Freaks                               |1932     |null |64             |La parada de los monstruos |Drama,Horror           |
|tt0023969|Duck Soup                     |Duck Soup                            |1933     |null |69             |Sopa de ganso              |Comedy,Musical,War     |
|tt0024184|The Invisible Man             |The Invisible Man                    |1933     |null |71             |El hombre invisible        |Horror,Sci-Fi          |
|tt0024216|King Kong                     |King Kong                            |1933     |null |100            |King Kong                  |Adventure,Horror,Sci-Fi|
|tt0025316|It Happened One Night         |It Happened One Night                |1934     |null |105            |Sucedió una noche          |Comedy,Romance         |
+---------+------------------------------+-------------------------------------+---------+-----+---------------+---------------------------+-----------------------+
only showing top 20 rows

In [ ]:
#Vemos duplicados
print(titulos.select(F.countDistinct('title_id')).show())

+------------------------+
|count(DISTINCT title_id)|
+------------------------+
|                    4937|
+------------------------+

None

In [ ]:
#Hay duplicados, los eliminaremos después de unir las tablas

In [ ]:
#Leemos y retocamos el otro dataset
ratings= spark.read.csv('/content/drive/My Drive/Colab Notebooks/Ejercicios Estudiar para Test de Nivel Spark/Práctica de Máster Spark/Ranking_IMDB/ratings_imdb.csv',
                        inferSchema=True, quote='"',sep=',',header=True).cache()

In [ ]:
ratings.show()

+---------+------+------+
| title_id|rating| votes|
+---------+------+------+
|tt0010323|   8.1| 51891|
|tt0012349|   8.3|102198|
|tt0013442|   7.9| 83163|
|tt0015324|   8.2| 35443|
|tt0015648|   8.0| 49394|
|tt0015864|   8.2| 92335|
|tt0017136|   8.3|148997|
|tt0017925|   8.1| 74070|
|tt0018455|   8.1| 44438|
|tt0019254|   8.2| 42456|
|tt0020629|   8.0| 54473|
|tt0021749|   8.5|153361|
|tt0021814|   7.5| 42833|
|tt0021884|   7.8| 60562|
|tt0022100|   8.3|132541|
|tt0022913|   7.9| 39519|
|tt0023969|   7.8| 53199|
|tt0024184|   7.7| 27265|
|tt0024216|   7.9| 75249|
|tt0025316|   8.1| 87032|
+---------+------+------+
only showing top 20 rows

In [ ]:
ratings.printSchema()

root
 |-- title_id: string (nullable = true)
 |-- rating: double (nullable = true)
 |-- votes: integer (nullable = true)

In [ ]:
#Vemos si hay nulos
ratings.select([F.count(F.when(F.isnull(c), c)).alias(c) for c in ratings.columns]).show()

+--------+------+-----+
|title_id|rating|votes|
+--------+------+-----+
|       0|     0|    0|
+--------+------+-----+

In [ ]:
#Vemos que tenemos el mismo número de datos en ratings y en titulos
print('Número de datos ratings: ',ratings.count())
print('Número de datos titulos:',titulos.count())

Número de datos ratings:  4974
Número de datos titulos: 4974

In [ ]:
#Vemos duplicados
print(ratings.select(F.countDistinct('title_id')).show())

+------------------------+
|count(DISTINCT title_id)|
+------------------------+
|                    4937|
+------------------------+

None

In [ ]:
#Tenemos duplicados, los eliminaremos despues de unir las tablas

In [ ]:
#Unimos los dos dataset por title_id

peliculas= titulos.join(ratings, on='title_id').cache()

peliculas.show()

+---------+--------------------+--------------------+---------+---------------+--------------------+--------------------+------+------+
| title_id|       primary_title|      original_title|premiered|runtime_minutes|      titulo_espanol|              genres|rating| votes|
+---------+--------------------+--------------------+---------+---------------+--------------------+--------------------+------+------+
|tt0022100|                   M|M - Eine Stadt su...|     1931|            117|M, el vampiro de ...|Crime,Mystery,Thr...|   8.3|132541|
|tt0093756|Police Academy 4:...|Police Academy 4:...|     1987|             88|Loca academia de ...|        Comedy,Crime|   5.0| 38032|
|tt0094963|       The Dead Pool|       The Dead Pool|     1988|             91|      La lista negra|Action,Crime,Mystery|   6.3| 37906|
|tt0110367|        Little Women|        Little Women|     1994|            115|          Mujercitas|Drama,Family,Romance|   7.3| 45270|
|tt0227445|           The Score|           The Score|     2001|            124|The Score (Un gol...|Crime,Drama,Thriller|   6.8|115025|
|tt0243736|40 Days and 40 Ni...|40 Days and 40 Ni...|     2002|             96| 40 días y 40 noches|      Comedy,Romance|   5.6| 68191|
|tt0266697|   Kill Bill: Vol. 1|   Kill Bill: Vol. 1|     2003|            111|Kill Bill: Volumen 1|Action,Crime,Thri...|   8.1|935485|
|tt0298228|         Whale Rider|         Whale Rider|     2002|            101|                  ¿?|        Drama,Family|   7.5| 38039|
|tt0347048|             Head-On|      Gegen die Wand|     2004|            121|                  ¿?|       Drama,Romance|   7.9| 48105|
|tt0360201|           Wimbledon|           Wimbledon|     2004|             98|Wimbledon (El amo...|Comedy,Romance,Sport|   6.3| 57389|
|tt0385726|          Glory Road|          Glory Road|     2006|            118|                  ¿?|Biography,Drama,S...|   7.2| 40684|
|tt0417741|Harry Potter and ...|Harry Potter and ...|     2009|            153|Harry Potter y el...|Action,Adventure,...|   7.6|432494|
|tt0418455|       Adam's Apples|         Adams æbler|     2005|             94|                  ¿?|  Comedy,Crime,Drama|   7.8| 42735|
|tt0476964|       The Brave One|       The Brave One|     2007|            122|La extraña que ha...|  Action,Crime,Drama|   6.7| 56442|
|tt0780536|           In Bruges|           In Bruges|     2008|            107|                  ¿?|  Comedy,Crime,Drama|   7.9|370962|
|tt0851578|             Paprika|            Papurika|     2006|             90|             Paprika|Animation,Drama,F...|   7.7| 63665|
|tt1068680|             Yes Man|             Yes Man|     2008|            104|           Di que sí|      Comedy,Romance|   6.8|316746|
|tt1231587|Hot Tub Time Machine|Hot Tub Time Machine|     2010|            101|   Jacuzzi al pasado|       Comedy,Sci-Fi|   6.4|156336|
|tt1285241|               Don 2|               Don 2|     2011|            148|                  ¿?|Action,Crime,Thri...|   7.1| 47210|
|tt1408101|Star Trek Into Da...|Star Trek Into Da...|     2013|            132|Star Trek: En la ...|Action,Adventure,...|   7.7|450556|
+---------+--------------------+--------------------+---------+---------------+--------------------+--------------------+------+------+
only showing top 20 rows

In [ ]:
#Comprobamos de nuevo que no haya nulos, pa porsi
peliculas.select([count(when(isnull(c), c)).alias(c) for c in peliculas.columns]).show()

+--------+-------------+--------------+---------+---------------+--------------+------+------+-----+
|title_id|primary_title|original_title|premiered|runtime_minutes|titulo_espanol|genres|rating|votes|
+--------+-------------+--------------+---------+---------------+--------------+------+------+-----+
|       0|            0|             0|        0|              0|             0|     0|     0|    0|
+--------+-------------+--------------+---------+---------------+--------------+------+------+-----+

In [ ]:
#Comprobamos duplicados
print('Total ids diferentes:')
print(peliculas.select(F.countDistinct('title_id')).show())
print('Total datos:')
print(peliculas.count())

Total ids diferentes:
+------------------------+
|count(DISTINCT title_id)|
+------------------------+
|                    4937|
+------------------------+

None
Total datos:
5050

In [ ]:
#OJOOO!!! Algo pasa... ¿Tenemos duplicados?
print('Distintos')
print(peliculas.select([F.countDistinct(c).alias(c) for c in peliculas.columns]).show())
print('Totales')
print(peliculas.select([F.count(c).alias(c) for c in peliculas.columns]).show())

Distintos
+--------+-------------+--------------+---------+---------------+--------------+------+------+-----+
|title_id|primary_title|original_title|premiered|runtime_minutes|titulo_espanol|genres|rating|votes|
+--------+-------------+--------------+---------+---------------+--------------+------+------+-----+
|    4937|         4824|          4835|       98|            147|          3876|   368|    75| 4833|
+--------+-------------+--------------+---------+---------------+--------------+------+------+-----+

None
Totales
+--------+-------------+--------------+---------+---------------+--------------+------+------+-----+
|title_id|primary_title|original_title|premiered|runtime_minutes|titulo_espanol|genres|rating|votes|
+--------+-------------+--------------+---------+---------------+--------------+------+------+-----+
|    5050|         5050|          5050|     5050|           5050|          5050|  5050|  5050| 5050|
+--------+-------------+--------------+---------+---------------+--------------+------+------+-----+

None

In [ ]:
peliculas= peliculas.drop_duplicates(['title_id'])

In [ ]:
peliculas.count()

4937

In [ ]:
print('Distintos')
print(peliculas.select([F.countDistinct('title_id').alias(c) for c in peliculas.columns]).show())
print('Totales')
print(peliculas.select([F.count('title_id').alias(c) for c in peliculas.columns]).show())

Distintos
+--------+-------------+--------------+---------+---------------+--------------+------+------+-----+
|title_id|primary_title|original_title|premiered|runtime_minutes|titulo_espanol|genres|rating|votes|
+--------+-------------+--------------+---------+---------------+--------------+------+------+-----+
|    4937|         4937|          4937|     4937|           4937|          4937|  4937|  4937| 4937|
+--------+-------------+--------------+---------+---------------+--------------+------+------+-----+

None
Totales
+--------+-------------+--------------+---------+---------------+--------------+------+------+-----+
|title_id|primary_title|original_title|premiered|runtime_minutes|titulo_espanol|genres|rating|votes|
+--------+-------------+--------------+---------+---------------+--------------+------+------+-----+
|    4937|         4937|          4937|     4937|           4937|          4937|  4937|  4937| 4937|
+--------+-------------+--------------+---------+---------------+--------------+------+------+-----+

None

In [ ]:
#Ya tenemos nuestro dataset retocado y bonito

##3. Crea la función que nos permite calcular la media de IMDb.

+ Info: https://help.imdb.com/article/imdb/track-movies-tv/weighted-average-ratings/GWT2DSBYVT2F25SK?ref_=helpsect_pro_2_8#  
+ Info: https://help.imdb.com/article/imdb/track-movies-tv/ratings-faq/G67Y87TFYYP6TWAV?ref_=helpms_helpart_inline#  


**Fórmula Weighted Rating de IMDb**

The following formula is used to calculate the Top Rated 250 titles. This formula provides a true 'Bayesian estimate', which takes into account the number of votes each title has received, minimum votes required to be on the list, and the mean vote for all titles:

**$$WR=\frac{Rv+Cm}{v+m}$$**

Where:

**R** = average for the movie (mean) = (rating)

**v** = number of votes for the movie = (votes)

**m** = minimum votes required to be listed in the Top Rated list (currently 25,000)

**C** = the mean vote across the whole report

<font color="Grey">Please be aware that the Top Rated Movies Chart only includes theatrical features: shorts, TV movies, miniseries and documentaries are not included in the Top Rated Movies Chart. The Top Rated TV Shows Chart includes TV Series, but not TV episodes or Movies.

In [ ]:
#m= número mínimo de votos, vamos a poner 250.000
m=250000

In [ ]:
c=peliculas.agg(F.mean('rating')).collect()[0][0]
c

6.7602997771926265

In [ ]:
def WR(R,v, c=c,m=m):
  return round((R*v+C*m)/(v+m),3)

In [ ]:
wr_udf=F.udf(WR, T.DoubleType())

##4. Prepara los datos que quieras mostrar para cada uno de los títulos.

In [ ]:
peliculas.show(truncate=False)

+---------+--------------------------------------------+--------------------------------------------+---------+---------------+-------------------------------------------------+--------------------------+------+------+
|title_id |primary_title                               |original_title                              |premiered|runtime_minutes|titulo_espanol                                   |genres                    |rating|votes |
+---------+--------------------------------------------+--------------------------------------------+---------+---------------+-------------------------------------------------+--------------------------+------+------+
|tt0032553|The Great Dictator                          |The Great Dictator                          |1940     |125            |El gran dictador                                 |Comedy,Drama,War          |8.5   |187390|
|tt0032599|His Girl Friday                             |His Girl Friday                             |1940     |92             |Luna nueva                                       |Comedy,Drama,Romance      |7.9   |49723 |
|tt0066995|Diamonds Are Forever                        |Diamonds Are Forever                        |1971     |120            |Diamantes para la eternidad                      |Action,Adventure,Thriller |6.6   |88793 |
|tt0089218|The Goonies                                 |The Goonies                                 |1985     |114            |Los Goonies                                      |Adventure,Comedy,Family   |7.8   |224926|
|tt0113627|Leaving Las Vegas                           |Leaving Las Vegas                           |1995     |111            |¿?                                               |Drama,Romance             |7.5   |108836|
|tt0119528|Liar Liar                                   |Liar Liar                                   |1997     |86             |Mentiroso compulsivo                             |Comedy,Fantasy            |6.9   |266074|
|tt0121766|Star Wars: Episode III - Revenge of the Sith|Star Wars: Episode III - Revenge of the Sith|2005     |140            |Star Wars: Episodio III - La venganza de los Sith|Action,Adventure,Fantasy  |7.5   |658747|
|tt0133240|Treasure Planet                             |Treasure Planet                             |2002     |95             |El planeta del tesoro                            |Adventure,Animation,Family|7.2   |93810 |
|tt0204946|Bring It On                                 |Bring It On                                 |2000     |98             |A por todas                                      |Comedy,Romance,Sport      |6.0   |82764 |
|tt0363988|Secret Window                               |Secret Window                               |2004     |96             |¿?                                               |Drama,Mystery,Thriller    |6.6   |173329|
|tt0383028|Synecdoche, New York                        |Synecdoche, New York                        |2008     |124            |¿?                                               |Comedy,Drama              |7.6   |75047 |
|tt0449010|Eragon                                      |Eragon                                      |2006     |104            |Eragon                                           |Action,Adventure,Family   |5.1   |118507|
|tt0463854|28 Weeks Later                              |28 Weeks Later                              |2007     |100            |28 semanas después                               |Drama,Horror,Sci-Fi       |7.0   |246310|
|tt0810922|Take Me Home Tonight                        |Take Me Home Tonight                        |2011     |97             |Llévame a casa nena                              |Comedy,Drama,Romance      |6.3   |49417 |
|tt0844286|The Brothers Bloom                          |The Brothers Bloom                          |2008     |114            |Los hermanos Bloom                               |Action,Adventure,Comedy   |6.8   |47049 |
|tt1031969|The Rocker                                  |The Rocker                                  |2008     |102            |¿?                                               |Comedy,Music              |6.2   |35746 |
|tt1280558|A Wednesday                                 |A Wednesday                                 |2008     |104            |¿?                                               |Crime,Drama,Mystery       |8.1   |69788 |
|tt1386588|The Other Guys                              |The Other Guys                              |2010     |107            |Los otros dos                                    |Action,Comedy,Crime       |6.6   |227120|
|tt1499658|Horrible Bosses                             |Horrible Bosses                             |2011     |98             |Cómo acabar con tu jefe                          |Comedy,Crime              |6.9   |405165|
|tt1529572|Trust                                       |Trust                                       |2010     |106            |Puedes confiar en mí                             |Crime,Drama,Thriller      |6.9   |39863 |
+---------+--------------------------------------------+--------------------------------------------+---------+---------------+-------------------------------------------------+--------------------------+------+------+
only showing top 20 rows

In [ ]:
#Esto sería con pandas!!!
#Lo que voy a hacer no debe hacerse para datasets inmensos, porque meto en rom al pasar a pandas

#peliculas_pandas= peliculas.toPandas()

#Creo una variable que contiene una lista de tuplas con todas las pelis (primary_title) que (en titulo tienen) ¿?, y su indice

#a=[(fila[1],indice_fila) for indice_fila, fila in peliculas_pandas.iterrows() if fila[5] == '¿?']

#Hago un dataframe con la lista de tuplas

#A=pd.DataFrame(a)

#Itero sobre el dataframe peliculas_pandas, de manera que cambie el titulo_espanol que era ¿? por el primary_title

'''for i in A[1]:
      peliculas_pandas.titulo_espanol[i] = peliculas_pandas.primary_title[i]'''

#Guardo el dataset

#peliculas_pandas.to_csv('/content/drive/My Drive/Colab Notebooks/Ejercicios Estudiar para Test de Nivel Spark/Práctica de Máster Spark/peliculas_pandas.csv')

#Y lo leo con Spark

#peliculas_spark= spark.read.csv('/content/drive/My Drive/Colab Notebooks/Ejercicios Estudiar para Test de Nivel Spark/Práctica de Máster Spark/peliculas_pandas.csv',inferSchema=True, header=True, quote='"',sep=',').cache()

/usr/local/lib/python3.6/dist-packages/pyspark/sql/pandas/conversion.py:88: UserWarning: toPandas attempted Arrow optimization because 'spark.sql.execution.arrow.pyspark.enabled' is set to true; however, failed by the reason below:
  PyArrow >= 0.15.1 must be installed; however, your version was 0.14.1.
Attempting non-optimization as 'spark.sql.execution.arrow.pyspark.fallback.enabled' is set to true.
  warnings.warn(msg)

In [ ]:
#Ahora voy a hacerlo con Spark, pero sobre el dataset ya tuneado, así me quito meter en memoria más columnas

In [ ]:
#Tuneo
peliculas_df= (
    peliculas
    .withColumnRenamed('primary_title', 'Título Inglés')
    .withColumnRenamed('titulo_espanol', 'Título')
).select('Título Inglés','Título','rating','votes')

In [ ]:
peliculas_df.show(truncate=False)

+--------------------------------------------+-------------------------------------------------+------+------+
|Título Inglés                               |Título                                           |rating|votes |
+--------------------------------------------+-------------------------------------------------+------+------+
|The Great Dictator                          |El gran dictador                                 |8.5   |187390|
|His Girl Friday                             |Luna nueva                                       |7.9   |49723 |
|Diamonds Are Forever                        |Diamantes para la eternidad                      |6.6   |88793 |
|The Goonies                                 |Los Goonies                                      |7.8   |224926|
|Leaving Las Vegas                           |¿?                                               |7.5   |108836|
|Liar Liar                                   |Mentiroso compulsivo                             |6.9   |266074|
|Star Wars: Episode III - Revenge of the Sith|Star Wars: Episodio III - La venganza de los Sith|7.5   |658747|
|Treasure Planet                             |El planeta del tesoro                            |7.2   |93810 |
|Bring It On                                 |A por todas                                      |6.0   |82764 |
|Secret Window                               |¿?                                               |6.6   |173329|
|Synecdoche, New York                        |¿?                                               |7.6   |75047 |
|Eragon                                      |Eragon                                           |5.1   |118507|
|28 Weeks Later                              |28 semanas después                               |7.0   |246310|
|Take Me Home Tonight                        |Llévame a casa nena                              |6.3   |49417 |
|The Brothers Bloom                          |Los hermanos Bloom                               |6.8   |47049 |
|The Rocker                                  |¿?                                               |6.2   |35746 |
|A Wednesday                                 |¿?                                               |8.1   |69788 |
|The Other Guys                              |Los otros dos                                    |6.6   |227120|
|Horrible Bosses                             |Cómo acabar con tu jefe                          |6.9   |405165|
|Trust                                       |Puedes confiar en mí                             |6.9   |39863 |
+--------------------------------------------+-------------------------------------------------+------+------+
only showing top 20 rows

In [ ]:
#Filtro para quedarme con un dataeset sólo con los ¿?
desconocido=peliculas_df.filter(F.col('Título')=='¿?')
desconocido.limit(5).show()

+--------------------+------+------+------+
|       Título Inglés|Título|rating| votes|
+--------------------+------+------+------+
|   Leaving Las Vegas|    ¿?|   7.5|108836|
|       Secret Window|    ¿?|   6.6|173329|
|Synecdoche, New York|    ¿?|   7.6| 75047|
|          The Rocker|    ¿?|   6.2| 35746|
|         A Wednesday|    ¿?|   8.1| 69788|
+--------------------+------+------+------+

In [ ]:
#Ahora lo que hago es darle a la columna Título, los valores de Títulos Inglés
desconocido=desconocido.withColumn('Título', F.col('Título Inglés'))
desconocido.show()

+--------------------+--------------------+------+------+
|       Título Inglés|              Título|rating| votes|
+--------------------+--------------------+------+------+
|   Leaving Las Vegas|   Leaving Las Vegas|   7.5|108836|
|       Secret Window|       Secret Window|   6.6|173329|
|Synecdoche, New York|Synecdoche, New York|   7.6| 75047|
|          The Rocker|          The Rocker|   6.2| 35746|
|         A Wednesday|         A Wednesday|   8.1| 69788|
|   Our Idiot Brother|   Our Idiot Brother|   6.4| 81725|
| The Meaning of Life| The Meaning of Life|   7.6|107459|
|          Roger & Me|          Roger & Me|   7.4| 25002|
|      The Full Monty|      The Full Monty|   7.2| 94406|
|     Fahrenheit 9/11|     Fahrenheit 9/11|   7.5|123466|
|     Hannibal Rising|     Hannibal Rising|   6.2| 99365|
|         Bad Grandpa|         Bad Grandpa|   6.5| 86726|
|        Come and See|        Come and See|   8.3| 46146|
|            EuroTrip|            EuroTrip|   6.6|185660|
|     Take This Waltz|     Take This Waltz|   6.5| 26210|
|       Reality Bites|       Reality Bites|   6.6| 43257|
|         Black Sheep|         Black Sheep|   6.3| 34732|
|             Freeway|             Freeway|   6.8| 25137|
|     Michael Collins|     Michael Collins|   7.2| 28107|
|Spirit: Stallion ...|Spirit: Stallion ...|   7.1| 59722|
+--------------------+--------------------+------+------+
only showing top 20 rows

In [ ]:
#Creo la tabla con las conocidas
conocidas=peliculas_df.filter(F.col('Título')!='¿?')
conocidas.limit(5).show()

+--------------------+--------------------+------+------+
|       Título Inglés|              Título|rating| votes|
+--------------------+--------------------+------+------+
|  The Great Dictator|    El gran dictador|   8.5|187390|
|     His Girl Friday|          Luna nueva|   7.9| 49723|
|Diamonds Are Forever|Diamantes para la...|   6.6| 88793|
|         The Goonies|         Los Goonies|   7.8|224926|
|           Liar Liar|Mentiroso compulsivo|   6.9|266074|
+--------------------+--------------------+------+------+

In [ ]:
#Uno la tabla conocidas con la tabla desconocido
peliculas_bonito= conocidas.union(desconocido)
peliculas_bonito.show()

+--------------------+--------------------+------+------+
|       Título Inglés|              Título|rating| votes|
+--------------------+--------------------+------+------+
|  The Great Dictator|    El gran dictador|   8.5|187390|
|     His Girl Friday|          Luna nueva|   7.9| 49723|
|Diamonds Are Forever|Diamantes para la...|   6.6| 88793|
|         The Goonies|         Los Goonies|   7.8|224926|
|           Liar Liar|Mentiroso compulsivo|   6.9|266074|
|Star Wars: Episod...|Star Wars: Episod...|   7.5|658747|
|     Treasure Planet|El planeta del te...|   7.2| 93810|
|         Bring It On|         A por todas|   6.0| 82764|
|              Eragon|              Eragon|   5.1|118507|
|      28 Weeks Later|  28 semanas después|   7.0|246310|
|Take Me Home Tonight| Llévame a casa nena|   6.3| 49417|
|  The Brothers Bloom|  Los hermanos Bloom|   6.8| 47049|
|      The Other Guys|       Los otros dos|   6.6|227120|
|     Horrible Bosses|Cómo acabar con t...|   6.9|405165|
|               Trust|Puedes confiar en mí|   6.9| 39863|
|Kingsman: The Sec...|Kingsman: Servici...|   7.7|558626|
|A Hologram for th...|    Esperando al rey|   6.1| 37416|
|               Nerve|Nerve: Un juego s...|   6.5|106559|
|         Son of Saul|     El hijo de Saúl|   7.5| 40631|
|      Daddy's Home 2|Dos padres por de...|   6.0| 53335|
+--------------------+--------------------+------+------+
only showing top 20 rows

In [ ]:
#Compruebo que esté ok!!
peliculas_bonito.filter(F.col('Título')=='Leaving Las Vegas').show()

+-----------------+-----------------+------+------+
|    Título Inglés|           Título|rating| votes|
+-----------------+-----------------+------+------+
|Leaving Las Vegas|Leaving Las Vegas|   7.5|108836|
+-----------------+-----------------+------+------+

In [ ]:
#Por último, voy a probar que peliculas_df y peliculas_bonito tengan el mismo número de valores
if peliculas_df.count()==peliculas_bonito.count():
  print (True)
else:
  print (False)

True

In [ ]:
#Ahora que tenemos todos los títulos en español, me quedo sólo con esa columna
pelis_df=peliculas_bonito.select('Título','rating','votes')
pelis_df.show()

+-------------------------------------------------+------+------+
|Título                                           |rating|votes |
+-------------------------------------------------+------+------+
|El gran dictador                                 |8.5   |187390|
|Luna nueva                                       |7.9   |49723 |
|Diamantes para la eternidad                      |6.6   |88793 |
|Los Goonies                                      |7.8   |224926|
|Mentiroso compulsivo                             |6.9   |266074|
|Star Wars: Episodio III - La venganza de los Sith|7.5   |658747|
|El planeta del tesoro                            |7.2   |93810 |
|A por todas                                      |6.0   |82764 |
|Eragon                                           |5.1   |118507|
|28 semanas después                               |7.0   |246310|
|Llévame a casa nena                              |6.3   |49417 |
|Los hermanos Bloom                               |6.8   |47049 |
|Los otros dos                                    |6.6   |227120|
|Cómo acabar con tu jefe                          |6.9   |405165|
|Puedes confiar en mí                             |6.9   |39863 |
|Kingsman: Servicio secreto                       |7.7   |558626|
|Esperando al rey                                 |6.1   |37416 |
|Nerve: Un juego sin reglas                       |6.5   |106559|
|El hijo de Saúl                                  |7.5   |40631 |
|Dos padres por desigual                          |6.0   |53335 |
+-------------------------------------------------+------+------+
only showing top 20 rows

In [ ]:
#Filtramos por películas de más de 250.000 votos
pelis_df=pelis_df.filter(F.col('votes')>250.000)

In [ ]:
#Añadimos la columna que se genera con la udf que hemos creado y la dejo bonita
peliculas_score=pelis_df.withColumn("Score IMDB", wr_udf("rating","votes")).select('Título', 'Score IMDB')

In [ ]:
peliculas_score.show()

+--------------------+----------+
|              Título|Score IMDB|
+--------------------+----------+
|    El gran dictador|     7.506|
|          Luna nueva|     6.949|
|Diamantes para la...|     6.718|
|         Los Goonies|     7.253|
|Mentiroso compulsivo|     6.832|
|Star Wars: Episod...|     7.297|
|El planeta del te...|      6.88|
|         A por todas|     6.571|
|              Eragon|     6.226|
|  28 semanas después|     6.879|
| Llévame a casa nena|     6.684|
|  Los hermanos Bloom|     6.767|
|       Los otros dos|     6.684|
|Cómo acabar con t...|     6.847|
|Puedes confiar en mí|      6.78|
|Kingsman: Servici...|     7.409|
|    Esperando al rey|     6.674|
|Nerve: Un juego s...|     6.683|
|     El hijo de Saúl|     6.864|
|Dos padres por de...|     6.627|
+--------------------+----------+
only showing top 20 rows

##5. Extrae el top 25 del ranking. Se valora la creatividad.

In [ ]:
#Ordenamos por las de mayor Score y filtramos las 25 primeras
peliculas_score.orderBy(F.desc('Score IMDB')).limit(25).toPandas()

/usr/local/lib/python3.6/dist-packages/pyspark/sql/pandas/conversion.py:88: UserWarning: toPandas attempted Arrow optimization because 'spark.sql.execution.arrow.pyspark.enabled' is set to true; however, failed by the reason below:
  PyArrow >= 0.15.1 must be installed; however, your version was 0.14.1.
Attempting non-optimization as 'spark.sql.execution.arrow.pyspark.fallback.enabled' is set to true.
  warnings.warn(msg)

                                              Título  Score IMDB
0                                    Cadena perpetua       9.037
1                                         El padrino       8.849
2                                El caballero oscuro       8.766
3                                       Pulp Fiction       8.626
4        El señor de los anillos: El retorno del rey       8.601
5                               El padrino: Parte II       8.565
6                                             Origen       8.563
7                                El club de la lucha       8.543
8                                       Forrest Gump       8.534
9   El señor de los anillos: La comunidad del anillo       8.517
10                             La lista de Schindler       8.511
11                                            Matrix       8.432
12           El señor de los anillos: Las dos torres       8.405
13                            El imperio contraataca       8.336
14                                      Interstellar       8.313
15                                             Seven       8.309
16                               Uno de los nuestros       8.292
17                             12 hombres sin piedad       8.286
18                       El silencio de los corderos       8.277
19                         La guerra de las galaxias       8.272
20                            Salvar al soldado Ryan       8.271
21               Alguien voló sobre el nido del cuco       8.261
22                                    La milla verde       8.247
23                        El bueno, el feo y el malo       8.229
24                          Gladiator (El gladiador)       8.210

In [ ]:
#Hacemos el Ranking
pelis_rank= peliculas_score.withColumn('Rank', F.rank().over(Window.orderBy(F.desc('Score IMDB')))).select('Rank','Título','Score IMDB').limit(25).toPandas()

/usr/local/lib/python3.6/dist-packages/pyspark/sql/pandas/conversion.py:88: UserWarning: toPandas attempted Arrow optimization because 'spark.sql.execution.arrow.pyspark.enabled' is set to true; however, failed by the reason below:
  PyArrow >= 0.15.1 must be installed; however, your version was 0.14.1.
Attempting non-optimization as 'spark.sql.execution.arrow.pyspark.fallback.enabled' is set to true.
  warnings.warn(msg)

In [ ]:
pelis_rank

    Rank                                            Título  Score IMDB
0      1                                   Cadena perpetua       9.037
1      2                                        El padrino       8.849
2      3                               El caballero oscuro       8.766
3      4                                      Pulp Fiction       8.626
4      5       El señor de los anillos: El retorno del rey       8.601
5      6                              El padrino: Parte II       8.565
6      7                                            Origen       8.563
7      8                               El club de la lucha       8.543
8      9                                      Forrest Gump       8.534
9     10  El señor de los anillos: La comunidad del anillo       8.517
10    11                             La lista de Schindler       8.511
11    12                                            Matrix       8.432
12    13           El señor de los anillos: Las dos torres       8.405
13    14                            El imperio contraataca       8.336
14    15                                      Interstellar       8.313
15    16                                             Seven       8.309
16    17                               Uno de los nuestros       8.292
17    18                             12 hombres sin piedad       8.286
18    19                       El silencio de los corderos       8.277
19    20                         La guerra de las galaxias       8.272
20    21                            Salvar al soldado Ryan       8.271
21    22               Alguien voló sobre el nido del cuco       8.261
22    23                                    La milla verde       8.247
23    24                        El bueno, el feo y el malo       8.229
24    25                          Gladiator (El gladiador)       8.210